@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Zeyada', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
section{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image-1 {
    background-image: url("./Images/image-1.JPG");
}

.image-2 {
    background-image: url("./Images/image-2.JPG");
}
.image-3 {
    background-image: url("./Images/image-3.JPG");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.App {
    text-align: center;
    
  }
  
.App-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + .7vmin);
    color: white;
    opacity: 0.7;
  }
iframe {
    -webkit-box-shadow: -10px 0px 13px -7px aliceblue, 10px 0px 13px -7px aliceblue, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px aliceblue, 10px 0px 13px -7px aliceblue, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  
/* .limited{
    max-width: 74%;
  } */
.fixed-header {
    float: right;
    width: 200px;
    margin: 30px;
  }
.inner-header {
    opacity: 0.9;
    font-family: 'Zeyada', cursive;
    font-size: 32px;
    color: transparent;
    background: #8d99abf8;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  }
.inner-header-2 {
    font-size: 16px;
    float:right;
    margin-right: 18px;
    opacity: 1;
    color:#8d99abf8;
    text-shadow: none;
  }
.tracks {
    color:rgb(55, 54, 34);
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position:relative;
    font-size: 22px;
  }
li {
    text-align: center;
    list-style-type: none;
  }
.introText-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.introText {
    /* font-size: 34px !important; */
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    width: 35%;
    margin-top: 0%;
    margin-right: 22%;
    position: sticky;
}
@media (max-width: 450px) and (max-height: 860px) {
    .fixed-header {
        width: 160px;
        padding: 20px;
      }
    .inner-header {
        font-size: 25px;
        color: transparent;
        background: #8d99abf8;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
      }
    .inner-header-2 {
        font-size: 14px;
        margin-right: 10px;
      }
  }

 


