/* .main {
    min-height: 70cm;
    margin: auto;
    background: url("./Images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
section{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.image-1 {
  background-image: url("./Images/image-1.JPG")
}

.image-2 {
  background-image: url("./Images/image-2.JPG");
}
.image-3 {
  background-image: url("./Images/image-3.JPG");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    text-align: center;
  }
  
  
  
  .App-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + .7vmin);
    color: white;
  }
  
  .limited{
    max-width: 74%;
  }
  .fixed-header {
    float: right;
    width: 200px;
    padding: 25px;
  }
  .inner-header {
    font-family: fantasy;
    color:aliceblue;
    font-size: 22px;
  }


 /*  .main::after {
    content: "";
    background: url("./Images/bg2.jpg");
    opacity: 1;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  } */


