/* .main {
    min-height: 70cm;
    margin: auto;
    background: url("./Images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
section{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.image-1 {
  background-image: url("./Images/image-1.JPG")
}

.image-2 {
  background-image: url("./Images/image-2.JPG");
}
.image-3 {
  background-image: url("./Images/image-3.JPG");
}

 /*  .main::after {
    content: "";
    background: url("./Images/bg2.jpg");
    opacity: 1;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
